.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .App-header h1 {
    margin: .2em 0;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  main {
    margin-top: 3em;
    padding-bottom: 5rem;
  }
  
  input {
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.25);
  }
  
  .sign-in-container {
      background-color:#ffffff;
      border-radius:8px;
      width:50%;
      margin-left:25%;
      padding:10px;
  }
  .sign-in-button {
      border-radius:12px;
      background-color:#e47979;
      width:70%;
      padding:5%;
      margin:10%;
      margin-top:24px;
      margin-bottom:24px;
      font-weight:bold;
      color:white;
  }
  #guest {
      background-color:#606060;
  }
  .sign-in-button:hover,#guest:hover {
    background-color:#f57e10;
  }
  a {text-decoration:none;}

  footer {
    background-color: #282c34;
    align-items: center;
    justify-content: center;
    font-size: calc(3px + 2vmin);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  #pageContainer {
    position: relative;
    min-height: 100vh;
  }
    
  #logo {
    width: 25%;
    height: 25%;
  }
