h2{
    font-size: 70px;
    text-decoration: underline;
    position: relative;
    /* width: 500px; */
    height: 200px;
    /* top: -1050px; */
    left: 1325px;
    /* margin: auto; */
    
    
}

.drinkInfo {
    display:flex
}

#Drink-Name{
    /* text-align: center;
    position: relative;
    width: 400px;
    height: 100px;
    top: -1050px;
    right: -134px;
    background-color: white;
    border-radius: 10px; */
    
}

#Drink-Image{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 870px;
    /* top: -100px; */
    /* right: 260px; */
    background-color: white;
    margin: 1.5em auto;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.25);
}

img{
    text-align: center;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    
    
    
}
#Drink-Rec{
    position: relative;
    /* top: -1575px; */
    width: 820px;
    height: 500px;
    background-color: white;
    margin: 1.5em auto;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.25);
    align-items: center;
}

#Recipe{
    background-color: white;
    width: 20%;
    height: 18em;
}


.Button-Group button{
    /* margin-top: 0%; */
    padding: 10px 30px;   
    cursor: pointer;
    
}


