h2{
    font-size: 75px;
    text-decoration: underline;
    position: relative;
    width: 500px;
    height: 200px;
    top: -1050px;
    right: -134px;
    margin: 10em auto;
    
    
}

#Drink-Name{
    text-align: center;
    
}

#Drink-Image{
    position: relative;
    width: 300px;
    height: 300px;
    top: -100px;
    right: 260px;
    background-color: white;
    margin: 10em auto;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.25);
}

img{
    text-align: center;
    height: 400px;
    width: 400px;
    
}
#Drink-Rec{
    position: relative;
    top: -1750px;
    width: 820px;
    height: 500px;
    background-color: white;
    margin: 1em auto;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.25);
    align-items: center;
}

#Recipe{
    background-color: white;
    width: 20%;
    height: 18em;
}


.Button-Group button{
    margin-top: 0%;
    padding: 10px 30px;   
    cursor: pointer;
    
}


