
.Cocktail_Item{
    /* border-style: solid; */
    border-radius: 25px;
    width: 800px;
    height: 70px;
    margin: 10px;
    background-color: white;
    
}

#SearchContainer{
    
    margin: auto;
    width: 50%;

}
main{
    width: 100%;
}